*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .app {
  display:flex;
  background: #283647;
  flex-direction: column;
  width: fit-content;
  /* justify-content: space-between; */
  height: fit-content;
  margin-left: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}