.main {
    width: 80%;
    height: fit-content;
}
.myMovies {
    height: fit-content;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    border: transparent;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
}
form{
    margin-bottom:  10px ;
}
.del {
    color: white;
    background-color: #78A3E4;
    border-radius: 20px;
    height: fit-content;
    padding: 3px;
    border: 1px solid darkblue;
}
.searchInput {
    border-radius: 20px;
    color: #283647;
    width: fit-content;
    height: 25px;
    padding-left: 7px;
}

span{
    padding: 5px;
}
.searchBut{
    background-color: white;
    color: #283647;
    height: 32px;
    padding: 7px;
    border-radius: 20px;
}
.nameOfMovie {
    color:white;
    margin-bottom: 7px;
   
}
.adding{
    border: transparent;
    border-radius: 20px;
  color: aliceblue;
     background-color: #78A3E4;
     padding: 7px;
     width: max-content;
     margin-bottom: 12px;
}
.link{
  background-color: #90B5ED;
  padding: 5px;
  width: max-content;
  border-radius: 20px;
}
.posterAndInfo {
    display: flex;
    flex-direction:row;
    margin-bottom: 10px;
}
.movieInfo{
    margin-left:20px ;
}
.defInfo{
    display: flex;
    color: wheat;
}
.wholeImg {
    width:135px;
    height: 166px;
}
@media  screen and (max-width: 420px) and (min-width:320px) {
   .wholeImg {
    width: 114px;
    height: 150px;
   } 
   .nameOfMovie{
    font-size: 15px;
   }
   .adding{
    height: 22px;
   }
   .link{
    height: 22px;
   }
   .searchBut{
    height: 25px;
    font-size: 13px;
    padding: 2px;
}
}
